src/java/META-INF/passportWS.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://passport.viettel.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://passport.viettel.com/" name="passportWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://passport.viettel.com/" schemaLocation="http://10.58.71.44:8180/passportv3/passportWS?xsd=1" />
</xsd:schema>
</types>
<message name="getRolesOfApp">
<part name="parameters" element="tns:getRolesOfApp" />
</message>
<message name="getRolesOfAppResponse">
<part name="parameters" element="tns:getRolesOfAppResponse" />
</message>
<message name="changePass">
<part name="parameters" element="tns:changePass" />
</message>
<message name="changePassResponse">
<part name="parameters" element="tns:changePassResponse" />
</message>
<message name="createUsers">
<part name="parameters" element="tns:createUsers" />
</message>
<message name="createUsersResponse">
<part name="parameters" element="tns:createUsersResponse" />
</message>
<message name="getDepartmentTree">
<part name="parameters" element="tns:getDepartmentTree" />
</message>
<message name="getDepartmentTreeResponse">
<part name="parameters" element="tns:getDepartmentTreeResponse" />
</message>
<message name="resetForgetPassword">
<part name="parameters" element="tns:resetForgetPassword" />
</message>
<message name="resetForgetPasswordResponse">
<part name="parameters" element="tns:resetForgetPasswordResponse" />
</message>
<message name="authen">
<part name="parameters" element="tns:authen" />
</message>
<message name="authenResponse">
<part name="parameters" element="tns:authenResponse" />
</message>
<message name="reportLogin">
<part name="parameters" element="tns:reportLogin" />
</message>
<message name="reportLoginResponse">
<part name="parameters" element="tns:reportLoginResponse" />
</message>
<message name="getAllowedApp">
<part name="parameters" element="tns:getAllowedApp" />
</message>
<message name="getAllowedAppResponse">
<part name="parameters" element="tns:getAllowedAppResponse" />
</message>
<message name="getAppFunctions">
<part name="parameters" element="tns:getAppFunctions" />
</message>
<message name="getAppFunctionsResponse">
<part name="parameters" element="tns:getAppFunctionsResponse" />
</message>
<message name="validateIncludeIp">
<part name="parameters" element="tns:validateIncludeIp" />
</message>
<message name="validateIncludeIpResponse">
<part name="parameters" element="tns:validateIncludeIpResponse" />
</message>
<message name="getUserInfo">
<part name="parameters" element="tns:getUserInfo" />
</message>
<message name="getUserInfoResponse">
<part name="parameters" element="tns:getUserInfoResponse" />
</message>
<message name="validate">
<part name="parameters" element="tns:validate" />
</message>
<message name="validateResponse">
<part name="parameters" element="tns:validateResponse" />
</message>
<portType name="passportWS">
<operation name="getRolesOfApp">
<input wsam:Action="http://passport.viettel.com/passportWS/getRolesOfAppRequest" message="tns:getRolesOfApp" />
<output wsam:Action="http://passport.viettel.com/passportWS/getRolesOfAppResponse" message="tns:getRolesOfAppResponse" />
</operation>
<operation name="changePass">
<input wsam:Action="http://passport.viettel.com/passportWS/changePassRequest" message="tns:changePass" />
<output wsam:Action="http://passport.viettel.com/passportWS/changePassResponse" message="tns:changePassResponse" />
</operation>
<operation name="createUsers">
<input wsam:Action="http://passport.viettel.com/passportWS/createUsersRequest" message="tns:createUsers" />
<output wsam:Action="http://passport.viettel.com/passportWS/createUsersResponse" message="tns:createUsersResponse" />
</operation>
<operation name="getDepartmentTree">
<input wsam:Action="http://passport.viettel.com/passportWS/getDepartmentTreeRequest" message="tns:getDepartmentTree" />
<output wsam:Action="http://passport.viettel.com/passportWS/getDepartmentTreeResponse" message="tns:getDepartmentTreeResponse" />
</operation>
<operation name="resetForgetPassword">
<input wsam:Action="http://passport.viettel.com/passportWS/resetForgetPasswordRequest" message="tns:resetForgetPassword" />
<output wsam:Action="http://passport.viettel.com/passportWS/resetForgetPasswordResponse" message="tns:resetForgetPasswordResponse" />
</operation>
<operation name="authen">
<input wsam:Action="http://passport.viettel.com/passportWS/authenRequest" message="tns:authen" />
<output wsam:Action="http://passport.viettel.com/passportWS/authenResponse" message="tns:authenResponse" />
</operation>
<operation name="reportLogin">
<input wsam:Action="http://passport.viettel.com/passportWS/reportLoginRequest" message="tns:reportLogin" />
<output wsam:Action="http://passport.viettel.com/passportWS/reportLoginResponse" message="tns:reportLoginResponse" />
</operation>
<operation name="getAllowedApp">
<input wsam:Action="http://passport.viettel.com/passportWS/getAllowedAppRequest" message="tns:getAllowedApp" />
<output wsam:Action="http://passport.viettel.com/passportWS/getAllowedAppResponse" message="tns:getAllowedAppResponse" />
</operation>
<operation name="getAppFunctions">
<input wsam:Action="http://passport.viettel.com/passportWS/getAppFunctionsRequest" message="tns:getAppFunctions" />
<output wsam:Action="http://passport.viettel.com/passportWS/getAppFunctionsResponse" message="tns:getAppFunctionsResponse" />
</operation>
<operation name="validateIncludeIp">
<input wsam:Action="http://passport.viettel.com/passportWS/validateIncludeIpRequest" message="tns:validateIncludeIp" />
<output wsam:Action="http://passport.viettel.com/passportWS/validateIncludeIpResponse" message="tns:validateIncludeIpResponse" />
</operation>
<operation name="getUserInfo">
<input wsam:Action="http://passport.viettel.com/passportWS/getUserInfoRequest" message="tns:getUserInfo" />
<output wsam:Action="http://passport.viettel.com/passportWS/getUserInfoResponse" message="tns:getUserInfoResponse" />
</operation>
<operation name="validate">
<input wsam:Action="http://passport.viettel.com/passportWS/validateRequest" message="tns:validate" />
<output wsam:Action="http://passport.viettel.com/passportWS/validateResponse" message="tns:validateResponse" />
</operation>
</portType>
<binding name="passportWSPortBinding" type="tns:passportWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getRolesOfApp">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="changePass">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createUsers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getDepartmentTree">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="resetForgetPassword">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="authen">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="reportLogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllowedApp">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAppFunctions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="validateIncludeIp">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getUserInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="validate">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="passportWSService">
<port name="passportWSPort" binding="tns:passportWSPortBinding">
<soap:address location="http://10.58.71.44:8180/passportv3/passportWS" />
</port>
</service>
</definitions>