src/java/META-INF/RoamingWS.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="roaming.webservice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="roaming.webservice" name="RoamingWSService">
<types>
<xsd:schema>
<xsd:import namespace="roaming.webservice" schemaLocation="http://10.58.4.82:5555/RoamingWS?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="regRoaming">
<part name="parameters" element="tns:regRoaming"></part>
</message>
<message name="regRoamingResponse">
<part name="parameters" element="tns:regRoamingResponse"></part>
</message>
<message name="regRoamingVip">
<part name="parameters" element="tns:regRoamingVip"></part>
</message>
<message name="regRoamingVipResponse">
<part name="parameters" element="tns:regRoamingVipResponse"></part>
</message>
<message name="regRoamingV2">
<part name="parameters" element="tns:regRoamingV2"></part>
</message>
<message name="regRoamingV2Response">
<part name="parameters" element="tns:regRoamingV2Response"></part>
</message>
<message name="regRoamingUssd">
<part name="parameters" element="tns:regRoamingUssd"></part>
</message>
<message name="regRoamingUssdResponse">
<part name="parameters" element="tns:regRoamingUssdResponse"></part>
</message>
<message name="regRoamingByImsi">
<part name="parameters" element="tns:regRoamingByImsi"></part>
</message>
<message name="regRoamingByImsiResponse">
<part name="parameters" element="tns:regRoamingByImsiResponse"></part>
</message>
<message name="unRegRoaming">
<part name="parameters" element="tns:unRegRoaming"></part>
</message>
<message name="unRegRoamingResponse">
<part name="parameters" element="tns:unRegRoamingResponse"></part>
</message>
<message name="unRegRoamingV2">
<part name="parameters" element="tns:unRegRoamingV2"></part>
</message>
<message name="unRegRoamingV2Response">
<part name="parameters" element="tns:unRegRoamingV2Response"></part>
</message>
<message name="unRegRoamingByImsi">
<part name="parameters" element="tns:unRegRoamingByImsi"></part>
</message>
<message name="unRegRoamingByImsiResponse">
<part name="parameters" element="tns:unRegRoamingByImsiResponse"></part>
</message>
<message name="checkRegister">
<part name="parameters" element="tns:checkRegister"></part>
</message>
<message name="checkRegisterResponse">
<part name="parameters" element="tns:checkRegisterResponse"></part>
</message>
<message name="checkRegisterByImsi">
<part name="parameters" element="tns:checkRegisterByImsi"></part>
</message>
<message name="checkRegisterByImsiResponse">
<part name="parameters" element="tns:checkRegisterByImsiResponse"></part>
</message>
<message name="restorePrepaid">
<part name="parameters" element="tns:restorePrepaid"></part>
</message>
<message name="restorePrepaidResponse">
<part name="parameters" element="tns:restorePrepaidResponse"></part>
</message>
<message name="callbackUssd">
<part name="parameters" element="tns:callbackUssd"></part>
</message>
<message name="callbackUssdResponse">
<part name="parameters" element="tns:callbackUssdResponse"></part>
</message>
<message name="checkDelivery">
<part name="parameters" element="tns:checkDelivery"></part>
</message>
<message name="checkDeliveryResponse">
<part name="parameters" element="tns:checkDeliveryResponse"></part>
</message>
<message name="checkRoamingHis">
<part name="parameters" element="tns:checkRoamingHis"></part>
</message>
<message name="checkRoamingHisResponse">
<part name="parameters" element="tns:checkRoamingHisResponse"></part>
</message>
<message name="checkRoamingHisV2">
<part name="parameters" element="tns:checkRoamingHisV2"></part>
</message>
<message name="checkRoamingHisV2Response">
<part name="parameters" element="tns:checkRoamingHisV2Response"></part>
</message>
<message name="checkRegQT">
<part name="parameters" element="tns:checkRegQT"></part>
</message>
<message name="checkRegQTResponse">
<part name="parameters" element="tns:checkRegQTResponse"></part>
</message>
<message name="checkRoamingHisByIsdn">
<part name="parameters" element="tns:checkRoamingHisByIsdn"></part>
</message>
<message name="checkRoamingHisByIsdnResponse">
<part name="parameters" element="tns:checkRoamingHisByIsdnResponse"></part>
</message>
<portType name="RoamingWS">
<operation name="regRoaming">
<input message="tns:regRoaming"></input>
<output message="tns:regRoamingResponse"></output>
</operation>
<operation name="regRoamingVip">
<input message="tns:regRoamingVip"></input>
<output message="tns:regRoamingVipResponse"></output>
</operation>
<operation name="regRoamingV2">
<input message="tns:regRoamingV2"></input>
<output message="tns:regRoamingV2Response"></output>
</operation>
<operation name="regRoamingUssd">
<input message="tns:regRoamingUssd"></input>
<output message="tns:regRoamingUssdResponse"></output>
</operation>
<operation name="regRoamingByImsi">
<input message="tns:regRoamingByImsi"></input>
<output message="tns:regRoamingByImsiResponse"></output>
</operation>
<operation name="unRegRoaming">
<input message="tns:unRegRoaming"></input>
<output message="tns:unRegRoamingResponse"></output>
</operation>
<operation name="unRegRoamingV2">
<input message="tns:unRegRoamingV2"></input>
<output message="tns:unRegRoamingV2Response"></output>
</operation>
<operation name="unRegRoamingByImsi">
<input message="tns:unRegRoamingByImsi"></input>
<output message="tns:unRegRoamingByImsiResponse"></output>
</operation>
<operation name="checkRegister">
<input message="tns:checkRegister"></input>
<output message="tns:checkRegisterResponse"></output>
</operation>
<operation name="checkRegisterByImsi">
<input message="tns:checkRegisterByImsi"></input>
<output message="tns:checkRegisterByImsiResponse"></output>
</operation>
<operation name="restorePrepaid">
<input message="tns:restorePrepaid"></input>
<output message="tns:restorePrepaidResponse"></output>
</operation>
<operation name="callbackUssd">
<input message="tns:callbackUssd"></input>
<output message="tns:callbackUssdResponse"></output>
</operation>
<operation name="checkDelivery">
<input message="tns:checkDelivery"></input>
<output message="tns:checkDeliveryResponse"></output>
</operation>
<operation name="checkRoamingHis">
<input message="tns:checkRoamingHis"></input>
<output message="tns:checkRoamingHisResponse"></output>
</operation>
<operation name="checkRoamingHisV2">
<input message="tns:checkRoamingHisV2"></input>
<output message="tns:checkRoamingHisV2Response"></output>
</operation>
<operation name="checkRegQT">
<input message="tns:checkRegQT"></input>
<output message="tns:checkRegQTResponse"></output>
</operation>
<operation name="checkRoamingHisByIsdn">
<input message="tns:checkRoamingHisByIsdn"></input>
<output message="tns:checkRoamingHisByIsdnResponse"></output>
</operation>
</portType>
<binding name="RoamingWSPortBinding" type="tns:RoamingWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="regRoaming">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="regRoamingVip">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="regRoamingV2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="regRoamingUssd">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="regRoamingByImsi">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="unRegRoaming">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="unRegRoamingV2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="unRegRoamingByImsi">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="checkRegister">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="checkRegisterByImsi">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="restorePrepaid">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="callbackUssd">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="checkDelivery">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="checkRoamingHis">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="checkRoamingHisV2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="checkRegQT">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="checkRoamingHisByIsdn">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="RoamingWSService">
<port name="RoamingWSPort" binding="tns:RoamingWSPortBinding">
<soap:address location="http://10.58.4.82:5555/RoamingWS"></soap:address>
</port>
</service>
</definitions>